{% extends 'base.html' %}

{% block title %}Email Sent{%  endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-12" >
                <div class="panel panel-primary" >
                    <div class="panel-heading" style="background-color: #8e774d">
                        <h3 class="panel-title" style="text-align: center" >------Email Sent------</h3>
                      </div>
                      <div class="panel-body" >
                          <p>Your password reset has been sent!</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}