<!DOCTYPE html>
<html lang="en">

{%  load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black">
    <div class="container">
        <div class="jumbotron" style="background-color: #8e774d">
            {% if user.is_authenticated %}
                <h1 style="color: white">Hello, {{ user.username }}</h1>
                <p>You are logged in as a
                {% if user.is_student %}
                    student!</p>
                {% elif user.is_tutor %}
                    tutor!</p>
                {% elif user.is_professor %}
                    professor!</p>
                {% endif %}
                </p>
            {% else %}
                <h1 style="color: white">Oakland Connect</h1>
                <p>Services for a better learning experience!</p>
            {% endif %}
        </div>
        <nav class="navbar navbar-default" style="background-color: black; border-color: black">
            <div class="container-fluid">
                <div class="navbar-header" >
                    <ul class="nav nav-pills" >
                        {% block navbar %}
                             {% if user.is_authenticated %}
                                 {% if user.is_student %}
                                    <li class="active"><a href="{% url 'forum_list' %}" class="nav-tabs" style="background-color: #8e774d">Forum</a></li>
                                     <li class="active"><a href="{% url 'tutors' %}" class="nav-tabs" style="background-color: #8e774d">Tutors</a></li>
                                    <li class="active"><a href="{% url 'books' %}" class="nav-tabs" style="background-color: #8e774d">Books</a></li>
                                     <li class="active"><a href="{%  url 'logout' %}" class="nav-tabs" style="background-color: #8e774d">Logout</a></li>
                                 {% elif user.is_tutor %}
                                     <li class="active"><a href="{% url 'forum_list' %}" class="nav-tabs" style="background-color: #8e774d">Forum</a></li>
                                    <li class="active"><a href="{% url 'tutors' %}" class="nav-tabs" style="background-color: #8e774d">Tutors</a></li>
                                    <li class="active"><a href="{%  url 'logout' %}" class="nav-tabs" style="background-color: #8e774d">Logout</a></li>
                                 {% elif user.is_professor %}
                                     <li class="active"><a href="{% url 'forum_list' %}" class="nav-tabs" style="background-color: #8e774d">Forum</a></li>
                                    <li class="active"><a href="{%  url 'logout' %}" class="nav-tabs" style="background-color: #8e774d">Logout</a></li>
                                 {% endif %}
                            {% else %}
                                    <li class="active" ><a href="{% url 'login' %}" class="nav-tabs" style="background-color: #8e774d" >Login</a></li>
                                    <li class="active"><a href="{%  url 'signup' %}" class="nav-tabs" style="background-color: #8e774d">Sign Up</a></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
	<!-- container -->
	{% block content %}
	{% endblock %}
    </div>
</body>
</html>