<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Oakland Connect</h1>
            <p>Services for a better learning experience!</p>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="index.html">Home</a></li>
                        <li role="presentation"><a href="forum.html">Forum</a></li>
                        <li role="presentation"><a href="tutors.html">Tutors</a></li>
                        <li role="presentation" class="active"><a href="books.html">Books</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">------Books------</h3>
                      </div>
                      <div class="panel-body">
                          <div class="well">
                              <h3>Unix Power Tools</h3>
                              <br>
                             <p>$50.00</p>
                         </div>
                         <div class="well">
                              <h3>Python in a Nutshell</h3>
                              <br>
                             <p>$30.00</p>
                         </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="well well-sm">
            <p>&copy 2019</p>
        </div>
    </div>
</body>

</html>