{%  extends 'base.html' %}

{%  block title %}Post{% endblock %}

{% block content %}
     <div class="row">
            <div class="col-md-12" >
                <div class="panel panel-primary" >
                    <div class="panel-heading" style="background-color: #8e774d">
                        <h3 class="panel-title" >------New Post------</h3>
                      </div>
                      <div class="panel-body" >
                        <form method= "POST" class="post-form">{% csrf_token %}
                            {{ form.as_p }}
                          <button type="submit" class="save btn btn-default">Submit</button>
                        </form>
                      </div>
                </div>
            </div>
        </div>
{% endblock %}